* {
  margin: 0;
  padding: 0;
}
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.container {
  background-image: url(images/ship.jpg);
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-position: center;
  opacity: 0.8;
  background-size: cover;
}

#header {
  text-align: center;
  background-color: rgb(110, 218, 218);

  width: 100%;
  height: 50px;
}

.form {
  background-color: rgb(103, 179, 143);
  margin-left: 60px;
  margin-top: 30px;
  width: 650px;
  min-height: 350px;
  float: left;
  border: 2px solid rgb(67, 168, 177);
  opacity: 0.7;
  /* background-image: url("images/ship.jpg");
    background-position: center; */
}

#ticket {
  font-size: 20px;
  margin-left: 20px;
}
select {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  border-bottom-left-radius: 10px;
  text-align: center;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}

.ticket-left {
  float: leftt;
}

.ticket-right {
  float: right;
  margin-top: -15%;
  margin-right: 4%;
}
.ticket-last {
  float: right;
  margin-right: 4%;
}

.pass-info {
  border: 2px solid black;
  width: 300px;
  height: 250px;
  margin-left: 20px;
  text-align: center;
  display: none;
}

.pass-info h3 {
  font-size: 30px;
  text-align: center;
}
.pass-info lebel {
  font-size: 20px;
  margin-left: 20px;
  /* margin-bottom: 60px; */
}

.pass-info input {
  width: 150px;
  height: 15px;
  padding: 5px;
  margin-top: 15px;
}

.vehicle-info {
  border: 2px solid black;
  width: 300px;
  height: 140px;
  margin-top: 15px;
  margin-left: 20px;
  text-align: center;
}

.vehicle-info h3 {
  font-size: 30px;
  text-align: center;
}
.vehicle-info lebel {
  font-size: 20px;
  margin-left: 20px;
  /* margin-bottom: 60px; */
}

.vehicle-info input {
  width: 150px;
  height: 15px;
  padding: 5px;
  margin-top: 10px;
}
.footer {
  margin-left: 20px;
  margin-top: 10px;
}
.footer input {
  margin-top: 10px;
  width: 130px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
}

.btn {
  width: 90px;
  height: 40px;
  border: 2ps solid black;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  float: right;
  margin-left: 430px;
  margin-top: 20px;
  margin-right: 4%;
  background-color: rgb(219, 141, 141);
}

.print-btn {
  width: 90px;
  height: 40px;
  border: 2ps solid black;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  float: left;
  margin-top: 20px;
  margin-left: 15px;
  background-color: rgb(219, 141, 141);
}

.left-weight {
  width: 400px;
  height: 460px;
  background-color: rgb(103, 179, 143);
  float: right;
  margin-right: 60px;
  margin-top: 30px;
  opacity: 0.8;
}

.left-weight h3 {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}
.left-weight p {
  margin-left: 40px;
  margin-top: 5px;
  width: 80%;
  height: 30px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  min-height: 70vh;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* modal end */
